{% extends 'base.html' %}

{% block contenido %} 
	<h1 align="center">Regencia y autoridades EPET N°20</h1>
	<p class="ml-3">Información sobre las autoridades:</p>
	<h4 align="center">DIRECTIVOS</h4>
	<div align="center">
	<dl>
		<dt>DIRECTOR</dt>
		<dd>Prof. Carlos, Malapisna</dd>
		<dt>VICEDIRECTORA</dt>
		<dd>Prof. Graciela, Duck</dd>
		<dt>REGENTE DE CULTURA TÉCNICA</dt>
		<dd>Prof. Enrique, Ortega</dd>
		<dt>REGENTE DE CULTURA GENERAL</dt>
		<dd>Prof. Jorge, Cárdenas</dd>
		<dt>JEFE GENERAL DE ENSEÑANZA PRÁCTICA</dt>
		<dd>Walter, Drexler</dd>
		<dt>JEFE DE SECCIÓN</dt>
		<dd>Daniel, Acosta</dd>
		<dt>JEFE DE SECCIÓN</dt>
		<dd>Alberto, Armitano</dd>
		<dt>SECRETARÍA</dt>
		<dd>Beatriz Alejandra, Roldán Campos</dd>
		<dt>PRO - SECRETARÍA</dt>
		<dd>Adriana del Rosario, Ojeda</dd>
		<dt>AUX. DE SECRETARÍA</dt>
		<dd>Raúl, Ledesma</dd>
		<dt>ASESORÍA PEDAGÓGICA</dt>
		<dd>Carina, Rivas</dd>
		<dt>ASESORÍA PEDAGÓGICA</dt>
		<dd>Carina, Arano</dd>
	</dl>
	</div>
{% endblock contenido %}