{% extends 'base.html' %}

{% block formulario %} 
	<h1 align="center">Regencia y autoridades EPET N°20</h1>
	<p class="ml-3">Información sobre las autoridades:</p>
	<h4 align="center">DIRECTIVOS</h4>
	<div align="center">
	<dl>
		<dt>DIRECTOR</dt>
		<dd>Prof. Carlos Malapisna</dd>
		<dt>VICEDIRECTORA</dt>
		<dd>Prof. Graciela Duck</dd>
		<dt>REGENTE DE CULTURA TÉCNICA</dt>
		<dd>Prof. Enrique Ortega</dd>
		<dt>REGENTE DE CULTURA GENERAL</dt>
		<dd>Prof. Jorge Cárdenas</dd>
		<dt>JEFE GENERAL DE ENSEÑANZA PRÁCTICA</dt>
		<dd>Walter Drexler</dd>
		<dt>JEFE DE SECCIÓN</dt>
		<dd>Daniel Acosta</dd>
		<dt>JEFE DE SECCIÓN</dt>
		<dd>Alberto Armitano</dd>
		<dt>SECRETARÍA</dt>
		<dd>Beatriz Alejandra Roldán Campos</dd>
		<dt>PRO - SECRETARÍA</dt>
		<dd>Adriana del Rosario Ojeda</dd>
		<dt>AUX. DE SECRETARÍA</dt>
		<dd>Raúl Ledesma</dd>
		<dt>ASESORÍA PEDAGÓGICA</dt>
		<dd>Carina Rivas</dd>
		<dt>ASESORÍA PEDAGÓGICA</dt>
		<dd>Carina Arano</dd>
		<dt>BIBLIOTECA</dt>
		<dd>Sandra Bono</dd>
		<dt>BIBLIOTECA</dt>
		<dd>Georgina Rodriguez</dd>
		<dt>ADMINISTRADORES DE REDES</dt>
		<dd>Pablo De León</dd>
		<dt>ADMINISTRADORES DE REDES</dt>
		<dd>Verónica Arrueta</dd>
		<dt>OFICINA TÉCNICA</dt>
		<dd>Maximiliano Malaspina</dd>
		<dt>OFICINA TÉCNICA</dt>
		<dd>Juan Pablo Reynoso</dd>
		<dt>JEFE DE PRECEPTORES - TURNO MAÑANA</dt>
		<dd>Laura Tear</dd>
		<dt>PRECEPTORÍA - TURNO MAÑANA</dt>
		<dd>Manuel Castro</dd>
		<dt>PRECEPTORÍA - TURNO MAÑANA</dt>
		<dd>Adriana Vicente</dd>
		<dt>PRECEPTORÍA - TURNO MAÑANA</dt>
		<dd>Mariana Elder (SUPLENTE)</dd>
		<dt>PRECEPTORÍA - TURNO MAÑANA</dt>
		<dd>Dario De la Iglesias</dd>
		<dt>PRECEPTORÍA - TURNO TARDE</dt>
		<dd>Mariana Elder</dd>
		<dt>PRECEPTORÍA - TURNO TARDE</dt>
		<dd>Mariana Anticev</dd>
		<dt>PRECEPTORÍA - TURNO TARDE</dt>
		<dd>Jorge Cardenas</dd>
		<dt>PRECEPTORÍA - TURNO TARDE</dt>
		<dd>Jorge Ibañez</dd>
		<h4 align="center">DOCENTES</h4>
		<dt>MEP AJUSTE</dt>
		<dd>Acosta Víctor Daniel</dd>
		<dt>MEP AJUSTE</dt>
		<dd>Epullan Daniel</dd>
		<dt>MEP AJUSTE</dt>
		<dd>Acuña Bárbara</dd>
		<dt>MEP CARPINTERÍA</dt>
		<dd>Bortolotti Cesar Orlando</dd>
		<dt>MEP ELECTRICIDAD</dt>
		<dd>Segura Gustavo Adolfo</dd>
		<dt>MEP ELECTRICIDAD</dt>
		<dd>Branzuel Carlos Ivan</dd>
		<dt>MEP ELECTRICIDAD</dt>
		<dd>Gunst Gustavo Juan</dd>
		<dt>MEP ELECTRICIDAD</dt>
		<dd>Parra monsalve Edgardo Daniel</dd>
		<dt>MEP ELECTRICIDAD</dt>
		<dd>Alarcon Pablo Eduardo</dd>
		<dt>MEP HOJALATERÍA</dt>
		<dd>Lames Ivana</dd>
		<dt>MEP HOJALATERÍA</dt>
		<dd>Candelaro Mauro</dd>
	</dl>
	</div>
{% endblock formulario %}